<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Titular</th>
        <th scope="col">N° de Tarjeta</th>
        <th scope="col">Vencimiento</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let tarjeta of tarjetaService.list">
            <td>{{tarjeta.titular}}</td>
            <td>{{tarjeta.numeroTarjeta}}</td>
            <td>{{tarjeta.fechaExpiracion}}</td>
            <td>
                <i class="fas fa-edit fa-lg text-info" style="cursor: pointer;"></i>
            </td>
            <td>
                <i (click)="eliminarTarjeta(tarjeta.id)" (click)="open(mymodal)" class="fas fa-trash-alt fa-lg text-danger" style="cursor: pointer;"></i>
            </td>
        </tr>
    </tbody>
  </table>
  <ng-template #mymodal let-modal>
    <div class="container">
        <div class="modal-body">

            La Tarjeta se Elimino Exitosamente!!!
        
          </div>
        
          <div class="modal-footer">
        
            <button type="button" class="btn btn-outline-danger" (click)="modal.close('Save click')">Ok</button>
        
          </div>
    </div>
</ng-template>
