<div class="container">
    <h1 class="display-4 text-center" style="color: blanchedalmond">Tarjetas de Credito</h1>
    <hr/>
        <div class="row">
            <div class="col text-center">
                <h6 class="text-center" style="color: blanchedalmond">
                    Agregar Tarjeta
                </h6>
                <app-tarjeta-credito></app-tarjeta-credito>
            </div>
            <div class="col text-center" style="color: blanchedalmond">
                <h6 class="text-center">
                    Listado de Tarjetas
                </h6>
                <app-list-tarjeta-credito></app-list-tarjeta-credito>
            </div>
        </div>
</div>
